<div id='recommendation' class="col-12 col-sm-6 col-md-4 pb-4">
  <img src="<%=recommendation.images%>" class="img-fluid"></img>
  <h2> <%=recommendation.name%></h2>
  <div class='embed-responsive embed-responsive-21by9'>
    <iframe src="https://open.spotify.com/embed/artist/<%=recommendation.id%>" width="250" height="330" frameborder="0" allowtransparency="true" allow="encrypted-media" class ='embed-responsive-item'></iframe>
  </div>
</div>